<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1>Une Nouvelle Solution pour notre système</h1>
          <h2>Systeme de détection et de surveillance des épidemies de choléra</h2>
          <div class="d-lg-flex">
            <a href="#about" class="btn-get-started scrollto">Signalez un cas suspect</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video"
              data-autoplay="true"> S'informer <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>More About</h2>
            <p>
                Le choléra est une maladie diarrhéique causée par dessérogroupes toxinogènes de la bactérie Vibrio cholerae,
                qui peut causer une déshydratation rapide et la mort. Le choléra est étroitement associé à la pauvreté, unmauvais assainissement et l’absence d’eau potable saine.
                Ainsi, le fardeau du choléra est concentré en Afrique et en Asie du Sud, représentant environ 99 % des cas dans le monde entier. Le choléra peut être endémique
                et provoquer des épidémies. Les bactéries de choléra se propagent par la contamination fécale-orale directe
                ou l’ingestion d’eau ou d’aliments contaminés. La période d’incubation varie de moins de 24 heures
                à 5 jours. Seules 25 % des personnes infectées sont symptomatiques; parmi ces personnes, 10 à 20 %
                développement une maladie grave. Une maladie grave se manifeste par une diarrhée aqueuse aiguë, abondante
                (« selles aqueuses comme l’eau de riz »), généralement  accompagnée de vomissements. Cela conduit à unedéshydratation rapide, qui peut se traduire par un choc
                hypotensif, une insuffisance rénale et la mort dans les heures qui suivent l’apparition.Le taux de létalité du choléra devrait être inférieur à 1 % lorsque l’accès aux soins des services de réhydratation
                (orale et/ou intraveineuse) est disponible. Cependant il peut atteindre 5 % dans les milieux les plus vulnérable
            </p>
        </div>

      

        </div>

    </section><!-- End Contact Section -->

</main>

